body{
    background-color: black;
}
h1{
    font-family:"Press Start 2P", "consolas", sans-serif;
    color: white;
    border-top-style:groove;
    border-bottom-style:groove;
    padding: 10px; 
}

p{
    background: linear-gradient(to top,black,darkgray );
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-style: groove;
    border-width: 5px;
    border-color: gold;
    border-radius: 10px;
    padding: 5px;
    color: #00FF73;
    font-family:"consolas" ;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    text-decoration: cyan dotted underline;
}